@import "../colors";
@import "../breakpoints";

.footer {
  display: flex;
  align-items: flex-start;
  color: $white;
  padding: 10vw 12vw;
  background-color: $primary;
  letter-spacing: 1.2px;

  @media (max-width: $desktop) {
    flex-wrap: wrap;
    align-items: center;
  }

  &__contact,
  &__services,
  &__about {
    flex-basis: 100%;

    @media (max-width: $desktop) {
      margin: 2rem 0;
    }
  }

  &__contact {
    &-logo {
      @media (max-width: $desktop) {
        width: 120px;
        height: 120px;
        margin: 0 auto;
        margin-bottom: 4rem;
      }
      margin-bottom: 2rem;
    }
  }

  &__services {
    &-links {
      position: relative;
      margin: 1.5rem 0;

      &:hover {
        color: $teriary;
      }

      &::after {
        content: "";
        position: absolute;
        top: 1.5rem;
        left: 0;
        width: 75%;
        height: 1px;
        background-color: $teriary;

        @media (max-width: $desktop) {
          width: 100%;
          top: 1.8rem;
        }

        @media (min-width: $ultra) {
          width: 70%;
          top: 1.8rem;
        }
      }
    }

    &-title {
      font-weight: bold;

      @media (max-width: $desktop) {
        text-align: center;
      }
    }
  }

  .address {
    display: flex;
  }

  .phone svg,
  .mail svg,
  .address svg {
    max-width: 20px;
    margin-right: 1.5rem;

    @media (max-width: $mobile) {
      max-width: 20px;
    }
  }
}

.social__media,
.phone,
.mail {
  display: flex;
  place-items: center;
  margin: 1.5rem 0;

  & a {
    width: 25px;
    margin-right: 2rem;

    &:hover {
      color: $teriary;
    }
  }
}

.faculty-logo {
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 80px;
}
