@mixin transition($property: all, $length) {
  transition: $property $length ease-in-out;
}

@mixin hover($border-color) {
  background: none;
  border: 2px solid $border-color;
  color: $border-color;
  @include transition(all, 0.3);
}

@mixin pagePadding {
  padding: 3vw 12vw;

  @media (max-width: $desktop) {
    padding: 2vw 8vw;
  }

  @media (max-width: $laptop) {
    padding: 2vw 6vw;
  }

  @media (max-width: $mobile) {
    padding: 4vw 8vw;
  }
}
