@import "./colors";
@import "./breakpoints";

.footer {
  display: grid;
  grid-template-columns: 15vw 1fr 1fr 15vw;
  gap: 0 3rem;
  color: $white;
  padding: 10vw 15vw;
  background-color: $primary;
  letter-spacing: 1.2px;

  &__about {
    &-title {
      text-align: center;
    }

    &-description {
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
    }
  }

  @media (max-width: $laptop) {
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    padding: 10vw;

    &__about {
      grid-column: span 6;
      margin-top: 2rem;
      text-align: center;
    }
  }

  @media (max-width: $tablet) {
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 10vw;
  }

  &__contact,
  &__services,
  &__links,
  &__about {
    display: grid;

    @media (max-width: $tablet) {
      width: 100%;
      grid-column: auto;
    }

    @media (max-width: $laptop) {
      gap: 17px;
    }
  }

  &__services {
    &-links {
      position: relative;

      &:hover {
        color: $teriary;
      }

      &::after {
        content: "";
        position: absolute;
        top: 1.5rem;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $teriary;

        @media (max-width: $laptop) {
          width: 100%;
          top: 1.8rem;
        }
      }
    }

    &-title {
      font-weight: bold;
    }
  }

  &__contact {
    &-logo {
      @media (max-width: $laptop) {
        width: 70px;
        height: 50px;
      }

      @media (max-width: $mobile) {
        width: 90px;
        height: 70px;
        margin-bottom: 1rem;
      }
    }

    .phone svg,
    .mail svg {
      max-width: 20px;
      margin-right: 1rem;

      @media (max-width: $mobile) {
        max-width: 20px;
      }
    }

    .copyright {
      font-size: 0.6rem;
      font-weight: lighter;
      opacity: 0.5;
    }
  }
}

.social__media,
.phone,
.mail {
  display: flex;
  place-items: center;

  & a {
    width: 25px;
    margin-right: 1rem;
  }
}

.faculty-logo {
  margin: 1.2rem auto;
  max-width: 60px;
  justify-self: center;
}
