@import "./colors";

.footer {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 100px);
  background-color: $primary;
  color: $white;
  padding: 15vw 13vw;

  // @media (max-width: 1200px) {
  //   padding: 2vw 6vw;
  // }

  // @media (max-width: 575px) {
  //   padding: 4vw 8vw;
  // }

  .phone,
  .mail,
  .social-media {
    display: flex;
    place-items: center;
  }
}

.phone img,
.mail img {
  margin-right: 1rem;
}

.footer__contact {
  display: grid;
  grid-row: 1/6;

  // & * {
  //   border: 1px solid yellow;
  // }
}

.footer__services {
}
