@import "./partials/colors";
@import "./partials/mixins";

@font-face {
  font-family: "PlayfairDisplay";
  font-display: swap;
  src: url(/fonts/PlayfairDisplay.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.hero {
  position: relative;
  color: $white;
  background-image: url("/images/index-bg1.webp"), url("/images/index-bg.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  z-index: 1;

  // @media (max-width: 575px) {
  //   background-image: url("/images/index-bg-mobile1.webp"), url("/images/index-bg-mobile1.jpg");
  // }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.9;
    background-color: $primary;
    z-index: -1;
  }

  &__heading {
    font-family: "PlayfairDisplay", san-serif;
    font-size: clamp(1.8rem, 1rem + 2.5vw, 5rem);
    font-weight: normal;
    margin-top: 23vh;
    text-transform: uppercase;
  }

  &__paragraph {
    font-size: clamp(1rem, 0.3rem + 1vw, 2rem);
    font-weight: lighter;
    margin-top: 1vh;
  }

  & .cta-btn {
    border: none;
    letter-spacing: 1px;
    border: 2px solid $teriary;
    padding: 0.5rem 1.2rem;
    @include transition(0.3s);

    @media (max-width: 900px) {
      display: none;
    }

    &:hover {
      @include hover($teriary);
    }
  }

  &__btn {
    margin-top: 2vh;
    background: none;
    border: 2px solid $teriary;
    color: $teriary;
    @include transition(0.3s);

    @media (max-width: 575px) {
      font-size: 0.7rem;
      padding: 0.5rem 1rem;
    }

    &:hover {
      background-color: $teriary;
      color: $primary;
      @include transition(0.3s);
    }
  }
}

.nav-bar,
.nav-links {
  display: flex;
}

.nav-bar {
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  @media (max-width: 900px) {
    display: none;
  }
}

.nav-link {
  font-size: clamp(0.7rem, 0.4rem + 0.7vw, 1.2rem);
  margin-right: 25px;

  &:hover {
    text-decoration: underline;
  }
}

.logo {
  width: 50px !important;
  height: 40px;
  cursor: pointer;
}

.languages {
  display: flex;

  @media (max-width: 900px) {
    display: none;
  }

  @media (min-width: 1441px) {
    padding-left: 10vw;
  }

  @media (min-width: 1921px) {
    padding-left: 25vw;
  }
}

.language-icon {
  position: relative;
  max-width: 100px;
  cursor: pointer;
}

.pl {
  margin-right: 10px;
}

.latin {
  position: absolute;
  right: 15vw;
  bottom: 5vh;
  font-size: clamp(1rem, 0.5rem + 1vw, 2rem);

  @media (max-width: 575px) {
    display: none;
  }
}
