@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.visible-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visible-hidden:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}

@font-face {
  font-family: "Roboto-Light";
  font-display: swap;
  src: url(/fonts/Roboto-Light.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto-Light", "Calibri", sans-serif;
  letter-spacing: 1px;
}

section {
  min-height: 100vh;
  padding: 2vw 12vw 1vw;
}
@media (max-width: 1441px) {
  section {
    padding: 2vw 8vw;
  }
}
@media (max-width: 1200px) {
  section {
    padding: 2vw 6vw;
  }
}
@media (max-width: 575px) {
  section {
    padding: 4vw 8vw;
  }
}

.heading {
  font-family: "PlayfairDisplay", san-serif;
  font-size: clamp(1.4rem, 12px + 1.5vw, 1.6rem);
  color: #69502B;
  text-transform: uppercase;
  margin: 3rem 0;
  text-align: center;
}

h3 {
  text-align: center;
}

.btn {
  display: inline-block;
  background-color: #ecc96e;
  color: #002b12;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.7rem 1.4rem;
  border: none;
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-height: 95vh;
  padding: 4vw 8vw;
  margin: 0 auto;
  background-color: #ffffff;
  pointer-events: none;
  border-radius: 5px;
  opacity: 0;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}
.modal .heading {
  margin-top: 0;
  margin-bottom: 2rem;
}
.modal .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
@media (min-width: 900px) {
  .modal {
    width: 70vw;
    min-height: 70vh;
  }
}
@media (min-width: 1200px) {
  .modal {
    width: 50vw;
    min-height: 70vh;
  }
}

.overlay {
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.page-padding {
  max-width: 90ch;
  min-height: 70vh;
  margin: 0 auto;
  padding: 2vw 0;
}
@media (max-width: 900px) {
  .page-padding {
    padding: 2vw 6vw;
  }
}

.paragraph {
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 1.2px;
  text-indent: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.paragraph a {
  text-decoration: underline;
}
.paragraph span {
  text-decoration: underline;
}

.list-item {
  list-style-type: " —";
  margin: 1rem 0 0 2rem;
  padding-left: 1rem;
}

.corporate-clients,
.individual-clients {
  margin-bottom: 2rem;
}

.no-list-style {
  list-style: none;
}

.list-style-letters {
  list-style: upper-alpha;
  margin-left: 1rem;
}
.list-style-letters li {
  margin: 1rem 0;
  line-height: 1.5;
}

.underline {
  text-decoration: underline;
  line-height: 1.8;
}

.breadcrumb {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: clamp(0.625rem, 0.1563rem + 2.5vw, 0.9375rem);
  list-style-type: none;
  margin: 4rem 0;
}
@media (max-width: 900px) {
  .breadcrumb {
    display: none;
  }
}
.breadcrumb li a:hover {
  text-decoration: underline;
}
.breadcrumb li::after {
  margin-right: 10px;
  content: " / ";
}
.breadcrumb .current {
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */